body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    justify-content: space-evenly;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.navbar-inverse .navbar-nav > li > a{
    color: yellow;
}

.navbar-inverse .navbar-brand {
    color: yellow;
}

.dropup, .dropdown {
    position: relative;
    padding-top: 15px;
}

.dropdown-toggle{
    color: white;

}

.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 1px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropup, .dropdown {
    padding-top: 15px;
    top: -14px;
}

.form-control{
    margin-right: 120px;
}

/*Course layout*/
.course{
    list-style: none;
    margin-top: 50px;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course >li .date{
            text-align: center;
            background-color: black;
            color: white;
            width: 60px;
            border-radius: 8px;
        }

        .course >li .details{
            position: absolute;
            top: 0;
            left: 70px;
        }